/********* Geral *******/

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

body {
    font-family: "Trebuchet Ms", Helvetica, sans-serif;
    background: #000 url(/img/background-chromatica.png) no-repeat top center;
}

#container {
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0 auto;
    margin-top: 120px;
}

#chuva {
    width: 400px;
    height: 300px;
}

form {
    position: relative;
    top: -200px;
    left: 80px;
}

form input, form ::placeholder {
    text-align: center;
    font-weight: 100;
    color: #39354a;
}

input {
    border: 1px solid #000;
    font-size: 1.2em;
    margin: 5px;
    padding: 5px;
}

input[type="submit"] {
    font-family: 'Rampart One', cursive;
    border: 2px solid #FFF;
    padding: 2px 12px;
    font-weight: bold;
    background-color: #f0b5c9;
    position: relative;
    left: 91px;
    border-radius: 20px;
}

input[type="submit"]:hover {
    background-color: #000;
    color: #fff;
}
    